* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #b5d0fd;
}

.bg-color {
	background-color: #8cc1db;
}

#navbar a {
	color: #fff;
}

.navbar {
	width: 100%;
}

.hero {
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	align-items: center;
	min-height: 300px;
}
.hero form .mb-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 150px;
}
.hero form .mb-3 label {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.hero form .mb-3 textarea {
	width: 300px;
	border: 1px solid #0d6efd;
	text-align: center;
}

.detail {
	background-color: #fff;
	min-width: 350px;
	min-height: 380px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	-webkit-box-shadow: 1px 5px 19px -1px rgba(13, 12, 10, 1);
	-moz-box-shadow: 1px 5px 19px -1px rgba(13, 12, 10, 1);
	box-shadow: 1px 5px 19px -1px rgba(13, 12, 10, 1);
}

.hero form button {
	width: 150px;
	border-radius: 25px;
}
